doc/
notes/
run/
bin/
data/
doc/
.venv/
build/*
tests/build/
*~
*.swp
*.vtf
*.pyc
a.out
*.so
*.dSYM/
*.o
*.i
*.s
.clang_complete
CMakeCache.txt
tests/records/temp_capture_args.gdb
tests/records/test_gdb.gdb
gmon.out
CMakeFiles/
*.bak
*.DS_Store
._*
.ycm_extra_conf.py
compile_commands.json
source.sh
**inputs/
**outputs/

